<div class="topnav">
  <a href="http://flip3.engr.oregonstate.edu:6530/">Home</a>
      <a   href="http://flip3.engr.oregonstate.edu:6530/players" class="button block black">Players</a>
      <a href="http://flip3.engr.oregonstate.edu:6530/teams" class="button block black">Teams</a>
      <a href="http://flip3.engr.oregonstate.edu:6530/positions" class="button block black">Positions</a>
      <a href="http://flip3.engr.oregonstate.edu:6530/stadiums" class="button block black">Stadiums</a>
      <a href="http://flip3.engr.oregonstate.edu:6530/highlights" class="button block black">Highlights</a>
      <a class="active" href="http://flip3.engr.oregonstate.edu:6530/championships" class="button block black">Championships</a>
      <a href="http://flip3.engr.oregonstate.edu:6530/divisions" class="button block black">Divisions</a>
      <a href="http://flip3.engr.oregonstate.edu:6530/uniforms" class="button block black">Uniforms</a>
</div>


<h3>Current Championships:</h3>

<div class="table1">
<table>
    <thead> 
        <th>Name</th> 
    </thead> 
    <tbody> 
        {{#each championships}} 
        <tr> 
            <td>{{name}}</td> 

            <td class="tdlast"><button class="myButton" onclick="deleteChampionship({{championshipid}})">Delete</button></td>
            <!-- <td><a href="/championships/{{id}}">Update</a></td> -->
        </tr> 
        {{/each}} 
    </tbody> 
</table> <br>

<form id="addChampionship" action="/championships" method="post">
	<h3> Add a new championship: </h3>
    Name: <input type="text" name="name" required><br>
    
    <input type="submit" value="Submit">
</form> <br>
 

<table>
    <thead> 
		<th>Team</th> 
		<th>Championship</th>
        <th>Year</th>
    </thead> 
    <tbody> 
        {{#each teamChampionships}} 
        <tr> 
            <td>{{mascot}}</td> 
			<td>{{name}}</td>
            <td>{{year}}</td>
            <td class="tdlast"><button class="myButton" onclick="deleteTeamChampionship({{tcid}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> <br>

	
<form id="addTeamChampionship" action="/championships/update" method="post">
	<h3> Associate a championship with a team: </h3>
    Team: <select name="teamid"> 
        {{#each teams}}
        <option value="{{teamid}}">{{mascot}}</option>
        {{/each}}
    </select><br>
	Championship: <select name="championshipid"> 
        {{#each championships}}
        <option value="{{championshipid}}">{{name}}</option>
        {{/each}}
    </select><br>
    Year: <input type="number" name="year" value="2018" required><br>
    
    <input type="submit" value="Submit">
</form>

</div>
